[Unit]
Description=Telegram Goose Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/mark/git/telegram-goose-bot
ExecStart=/home/mark/git/telegram-goose-bot/venv/bin/python3 /home/mark/git/telegram-goose-bot/telegram_goose_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
